.login{
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #000;
}

.login >img{
    width: 80%;
    /* height: 20%; */
}

.login >a{
    padding: 20px;
    font-weight: 800;
    color: #fff;
    border-radius: 99px;
    background-color: #1db954;
    text-decoration: none;
    cursor: pointer;
    /* letter-spacing: 1px; */
}