.footer{
    width: 100%;
    color: white;
    background-color: #191919;
    position: fixed;
    bottom: 0;
    height: 100px;
    padding:20px;
    display: flex;
    justify-content: space-between;
    /* box-sizing: content-box; */
}

.footer_left{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    flex: 0.3;
    /* border: 1px solid white; */
    gap:1rem;

}

.footer_left h2{
    font-size: 14px;
}
.footer_left p{
    font-size: 10px;
}

.play_image{
    height: 65px;
    border-radius: 100px;
}

.footer_center{
    display: flex;
    align-items: center;
    /* border: 1px solid white; */
    flex: 0.4;
    flex-direction: column;
}
.footer_center_top{
    display: flex;
    width:100%;
    max-width: 250px;
    justify-content: space-between;
    /* border: 1px solid red; */
    align-items: center;
    max-width: 300px;

}
.play_icon{
    transition: all 200ms ease-in-out;
}
.play_icon:hover{
    transform: scale(1.2);
    color: white !important;
}

.footer_center_bottom{
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    font-size: 12px;
    /* padding: 1rem; */
    /* box-sizing: content-box; */

}


.footer_right{
    display: flex;
    align-items: center;
    /* border: 1px solid white; */
    flex: 0.3;
    justify-content: flex-end;
    gap:10px;
    /* max-width: 300px; */
}


.song_slider{
    width: 100% !important;
    color: white !important;
    height: 3px !important;
    /* background-color: grey !important; */
} 

.volume_slider{
    max-width: 100px !important;
    color: white !important;
    height:3px !important;
    /* background-color: #fff !important; */
}
.volume_slider:hover,.song_slider:hover{
    color: #1db954 !important;
}








